typing_extensions
amqp
backoff
billiard
cached-property
celery
certifi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
dataclasses
debugpy
ezdxf
Flask
flower
gql
gunicorn
graphql-core
idna
importlib-metadata
itsdangerous
Jinja2
kombu
MarkupSafe
minio
multidict
numpy
prompt-toolkit
pytz
redis
requests
requests-toolbelt
six
supervisor
urllib3
vine
wcwidth
Werkzeug
yarl
zipp
